@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

#login-card, #register-card {
    width: 25rem;
}

.custom-placeholder::placeholder {
    color: lightgray;
}

.sidebar {
    width: 16rem;
    background: #f8f9fa;
    height: 100vh;   
    margin-top: 56px;
    position: fixed;
}
.content {  
    margin-top: 60px;
}
.form-group label {
    font-weight: bold;
}

#loadingScreen {     
    margin-top: 50px;
    margin-left: 50px;  
    display: none; 
    position: fixed;
    z-index: 1000;
}
